# Windows shortcuts
*.lnk
*.sdf
*.suo
*.tlog
*.log
*.pdb
*.idb
*.ipch
*.pch
*.obj
*.lib
*.exe
*.ilk
*.nupkg
*.targets
*.cache
*.opensdf
*.dll
*.user

# certificate stuff
*.pem

IoServices/Debug/
IoServices/Release/
HelloBoostIoServices/packages/boost.1.59.0.0/
