# Windows shortcuts
*.lnk
*.sdf
*.suo
*.tlog
*.log
*.pdb
*.idb
*.ipch
*.pch
*.obj
*.lib
*.exe
*.ilk
*.nupkg
*.targets
*.cache
*.opensdf
*.dll
*.user

# Linux stuff
*.lo
*.o
*.in
*.la
*.swp
*.Po
Makefile
IoServices/Makefile

# Do not publish secret SSL stuff!
*.pem
*.pvk
*.pfx
*.cer
*.crt

# general gitignore documents
*.nogit
*.out

UnixDomainClient/unix_domain_client/
UnixDomainClient/.deps
IoServices/Debug/
IoServices/Release/
IoServices/.deps/
IoServices/.libs/
m4
HelloBoostIoServices/packages/boost.1.63.0.0/
